<div class="start-screen">
    <h1 class="title">Soc Ops</h1>
    <button class="btn-start" @onclick="OnStart">Start Game</button>
</div>

@code {
    [Parameter]
    public EventCallback OnStart { get; set; }
}
