<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SocOps</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<nav class="nav-container" @onclick="ToggleNavMenu">
    <a class="nav-link" href="">Home</a>
    <a class="nav-link" href="counter">Counter</a>
    <a class="nav-link" href="weather">Weather</a>
</nav>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
