@page "/"
@inject BingoGameService GameService

<PageTitle>Home</PageTitle>

@if (GameService.CurrentGameState == GameState.Start)
{
    <div class="start-screen">
        <button class="btn-start" @onclick="GameService.StartGame">Start Game</button>
    </div>
}
else
{
    <div class="game-screen">
        <p>Game in progress...</p>
        <button class="btn-reset" @onclick="GameService.ResetGame">Reset Game</button>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await GameService.InitializeAsync();
    }
}
